.container {
    display: flex;
/*    flex-direction: column;*/
/*    flex-direction: column-reverse;*/
/*    flex-direction: row-reverse; */
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border: 1px solid lightcoral;
    height: 200px;
}

.item {
    background: lightblue;
    border: 1px solid lightcoral;
    margin: 5px;
    width: 200px;
}

.item:nth-of-type(4) {
    background: blue;
    height: 100px;
}