.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.item {
    background: lightblue;
    border: 1px solid black;
}